html, body {
    width: 100%;
    height: 100%;
}

body { 
    font-family: 'Open Sans', sans-serif;
    margin:0;
}

p { 
    text-align:center; /* centrage horizontal d'un élément en-ligne */ 
    color:white;
    font-size: 15px;
    margin-top: 10px;
    margin-bottom: 50px;
}


h1 {
    vertical-align: top;
    margin-top: 15px;
    display: inline-block;
    font-size: 39px;
    font-weight: 100;
    color: #bfc4dc;
    text-transform: uppercase;
    text-shadow: rgb(81, 107, 240) 0px 0px 20px;
    letter-spacing: 10px;
}

h2 {
    font-size: 26px;
    font-weight: 100;
    padding:50px 0 0 30px;
    color: #b6bacc;
    text-transform: uppercase;
    text-align: left;
}

h3{
    font-size: 18px;
    color: white;
}

h4{
    font-size: 18px;
    color: white;
}
hr {
    vertical-align: top;
    display: inline-block;
    box-shadow: 0px 0px 10px #516bf0, 0px 0px 10px #516bf0;
    width:600px;
    margin:54px 20px 0 4px;
}

/* ============================================================
  START HOME
============================================================ */

body#home {
    background-image:url("../img/background/bg_accueil.jpg");
    background-position:center center;
    background-color: #000;
    text-align: center;
}

/* ============================================================
  LOGO ANIME
============================================================ */

.logo-rockfort {
      width: 232px;
      height: 232px;
      margin: 0px auto;
      background-size: 100% 100%;
      -webkit-animation: logoAnimation 4s linear;
      -moz-animation: logoAnimation 4s linear;
      -o-animation: logoAnimation 4s linear;
      background-image: url(../img/logo/logo-rockfort-allume.svg);
  }

@-webkit-keyframes logoAnimation {
    
    0% {background-image: url(../img/logo/../img/logo/logo-rockfort-eteint.svg);opacity: 1;}
    2.5% {background-image: url(../img/logo/logo-rockfort-eteint.svg);opacity: 1;}
    5% {background-image: url(../img/logo/logo-rockfort-eteint.svg);opacity: 1;}
    7.5% {background-image: url(../img/logo/logo-rockfort-eteint.svg);opacity: 1;}
    10% {background-image: url(../img/logo/logo-rockfort-eteint.svg);opacity: 1;}
    12.5% {background-image: url(../img/logo/logo-rockfort-eteint.svg);opacity: 1;}
    15% {background-image: url(../img/logo/logo-rockfort-eteint.svg);opacity: 1;}
    17.5% {background-image: url(../img/logo/logo-rockfort-eteint.svg);opacity: 1;}
    20% {background-image: url(../img/logo/logo-rockfort-eteint.svg);opacity: 1;}
    22.5% {background-image: url(../img/logo/logo-rockfort-eteint.svg);opacity: 1;}
    25% {background-image: url(../img/logo/logo-rockfort-allteint.svg);opacity: 1;}
    27.5% {background-image: url(../img/logo/logo-rockfort-eteint.svg);opacity: 1;}
    30% {background-image: url(../img/logo/logo-rockfort-allteint.svg);opacity: 1;}
    32.5% {background-image: url(../img/logo/logo-rockfort-eteint.svg);opacity: 1;}
    35% {background-image: url(../img/logo/logo-rockfort-allteint.svg);opacity: 1;}
    40% {background-image: url(../img/logo/logo-rockfort-eteint.svg);opacity: 1;}
    42.5% {background-image: url(../img/logo/logo-rockfort-allteint.svg);opacity: 1;}
    45% {background-image: url(../img/logo/logo-rockfort-allteint.svg);opacity: 1;}
    47.5% {background-image: url(../img/logo/logo-rockfort-allteint.svg);opacity: 1;}
    50% {background-image: url(../img/logo/logo-rockfort-allteint.svg);opacity: 1;}
    52.5% {background-image: url(../img/logo/logo-rockfort-allteint.svg);opacity: 1;}
    55% {background-image: url(../img/logo/logo-rockfort-allume.svg);opacity: 1;}
    57.5% {background-image: url(../img/logo/logo-rockfort-allume.svg);opacity: 1;}
    65% {background-image: url(../img/logo/logo-rockfort-allume.svg);opacity: 1;}
    67.5% {background-image: url(../img/logo/logo-rockfort-allteint.svg);opacity: 1;}
    70% {background-image: url(../img/logo/logo-rockfort-allteint.svg);opacity: 1;}
    72.5% {background-image: url(../img/logo/logo-rockfort-allteint.svg);opacity: 1;} 
    75% {background-image: url(../img/logo/logo-rockfort-allteint.svg);opacity: 1;}
    77.5% {background-image: url(../img/logo/logo-rockfort-allteint.svg);opacity: 1;}
    80% {background-image: url(../img/logo/logo-rockfort-allume.svg);opacity: 1;}
    82.5% {background-image: url(../img/logo/logo-rockfort-allume.svg);opacity: 1;}
    85% {background-image: url(../img/logo/logo-rockfort-allteint.svg);opacity: 1;}
    87.5% {background-image: url(../img/logo/logo-rockfort-allume.svg);opacity: 1;}
    90% {background-image: url(../img/logo/logo-rockfort-allteint.svg);opacity: 1;}
    92.5% {background-image: url(../img/logo/logo-rockfort-allume.svg);opacity: 1;}
    95% {background-image: url(../img/logo/logo-rockfort-allteint.svg);opacity: 1;}
    97.5% {background-image: url(../img/logo/logo-rockfort-allume.svg);opacity: 1;}
    100% {opacity: 1;}
}

@-moz-keyframes logoAnimation {
    0% {background-image: url(../img/logo/logo-rockfort-eteint.svg);opacity: 1;}
    2.5% {background-image: url(../img/logo/logo-rockfort-eteint.svg);opacity: 1;}
    5% {background-image: url(../img/logo/logo-rockfort-eteint.svg);opacity: 1;}
    7.5% {background-image: url(../img/logo/logo-rockfort-eteint.svg);opacity: 1;}
    10% {background-image: url(../img/logo/logo-rockfort-eteint.svg);opacity: 1;}
    12.5% {background-image: url(../img/logo/logo-rockfort-eteint.svg);opacity: 1;}
    15% {background-image: url(../img/logo/logo-rockfort-eteint.svg);opacity: 1;}
    17.5% {background-image: url(../img/logo/logo-rockfort-eteint.svg);opacity: 1;}
    20% {background-image: url(../img/logo/logo-rockfort-eteint.svg);opacity: 1;}
    22.5% {background-image: url(../img/logo/logo-rockfort-eteint.svg);opacity: 1;}
    25% {background-image: url(../img/logo/logo-rockfort-allteint.svg);opacity: 1;}
    27.5% {background-image: url(../img/logo/logo-rockfort-eteint.svg);opacity: 1;}
    30% {background-image: url(../img/logo/logo-rockfort-allteint.svg);opacity: 1;}
    32.5% {background-image: url(../img/logo/logo-rockfort-eteint.svg);opacity: 1;}
    35% {background-image: url(../img/logo/logo-rockfort-allteint.svg);opacity: 1;}
    40% {background-image: url(../img/logo/logo-rockfort-eteint.svg);opacity: 1;}
    42.5% {background-image: url(../img/logo/logo-rockfort-allteint.svg);opacity: 1;}
    45% {background-image: url(../img/logo/logo-rockfort-allteint.svg);opacity: 1;}
    47.5% {background-image: url(../img/logo/logo-rockfort-allteint.svg);opacity: 1;}
    50% {background-image: url(../img/logo/logo-rockfort-allteint.svg);opacity: 1;}
    52.5% {background-image: url(../img/logo/logo-rockfort-allteint.svg);opacity: 1;}
    55% {background-image: url(../img/logo/logo-rockfort-allume.svg);opacity: 1;}
    57.5% {background-image: url(../img/logo/logo-rockfort-allume.svg);opacity: 1;}
    65% {background-image: url(../img/logo/logo-rockfort-allume.svg);opacity: 1;}
    67.5% {background-image: url(../img/logo/logo-rockfort-allteint.svg);opacity: 1;}
    70% {background-image: url(../img/logo/logo-rockfort-allteint.svg);opacity: 1;}
    72.5% {background-image: url(../img/logo/logo-rockfort-allteint.svg);opacity: 1;} 
    75% {background-image: url(../img/logo/logo-rockfort-allteint.svg);opacity: 1;}
    77.5% {background-image: url(../img/logo/logo-rockfort-allteint.svg);opacity: 1;}
    80% {background-image: url(../img/logo/logo-rockfort-allume.svg);opacity: 1;}
    82.5% {background-image: url(../img/logo/logo-rockfort-allume.svg);opacity: 1;}
    85% {background-image: url(../img/logo/logo-rockfort-allteint.svg);opacity: 1;}
    87.5% {background-image: url(../img/logo/logo-rockfort-allume.svg);opacity: 1;}
    90% {background-image: url(../img/logo/logo-rockfort-allteint.svg);opacity: 1;}
    92.5% {background-image: url(../img/logo/logo-rockfort-allume.svg);opacity: 1;}
    95% {background-image: url(../img/logo/logo-rockfort-allteint.svg);opacity: 1;}
    97.5% {background-image: url(../img/logo/logo-rockfort-allume.svg);opacity: 1;}
    100% {opacity: 1;}
}

@-o-keyframes logoAnimation {
    0% {background-image: url(../img/logo/logo-rockfort-eteint.svg);opacity: 1;}
    2.5% {background-image: url(../img/logo/logo-rockfort-eteint.svg);opacity: 1;}
    5% {background-image: url(../img/logo/logo-rockfort-eteint.svg);opacity: 1;}
    7.5% {background-image: url(../img/logo/logo-rockfort-eteint.svg);opacity: 1;}
    10% {background-image: url(../img/logo/logo-rockfort-eteint.svg);opacity: 1;}
    12.5% {background-image: url(../img/logo/logo-rockfort-eteint.svg);opacity: 1;}
    15% {background-image: url(../img/logo/logo-rockfort-eteint.svg);opacity: 1;}
    17.5% {background-image: url(../img/logo/logo-rockfort-eteint.svg);opacity: 1;}
    20% {background-image: url(../img/logo/logo-rockfort-eteint.svg);opacity: 1;}
    22.5% {background-image: url(../img/logo/logo-rockfort-eteint.svg);opacity: 1;}
    25% {background-image: url(../img/logo/logo-rockfort-allteint.svg);opacity: 1;}
    27.5% {background-image: url(../img/logo/logo-rockfort-eteint.svg);opacity: 1;}
    30% {background-image: url(../img/logo/logo-rockfort-allteint.svg);opacity: 1;}
    32.5% {background-image: url(../img/logo/logo-rockfort-eteint.svg);opacity: 1;}
    35% {background-image: url(../img/logo/logo-rockfort-allteint.svg);opacity: 1;}
    40% {background-image: url(../img/logo/logo-rockfort-eteint.svg);opacity: 1;}
    42.5% {background-image: url(../img/logo/logo-rockfort-allteint.svg);opacity: 1;}
    45% {background-image: url(../img/logo/logo-rockfort-allteint.svg);opacity: 1;}
    47.5% {background-image: url(../img/logo/logo-rockfort-allteint.svg);opacity: 1;}
    50% {background-image: url(../img/logo/logo-rockfort-allteint.svg);opacity: 1;}
    52.5% {background-image: url(../img/logo/logo-rockfort-allteint.svg);opacity: 1;}
    55% {background-image: url(../img/logo/logo-rockfort-allume.svg);opacity: 1;}
    57.5% {background-image: url(../img/logo/logo-rockfort-allume.svg);opacity: 1;}
    65% {background-image: url(../img/logo/logo-rockfort-allume.svg);opacity: 1;}
    67.5% {background-image: url(../img/logo/logo-rockfort-allteint.svg);opacity: 1;}
    70% {background-image: url(../img/logo/logo-rockfort-allteint.svg);opacity: 1;}
    72.5% {background-image: url(../img/logo/logo-rockfort-allteint.svg);opacity: 1;} 
    75% {background-image: url(../img/logo/logo-rockfort-allteint.svg);opacity: 1;}
    77.5% {background-image: url(../img/logo/logo-rockfort-allteint.svg);opacity: 1;}
    80% {background-image: url(../img/logo/logo-rockfort-allume.svg);opacity: 1;}
    82.5% {background-image: url(../img/logo/logo-rockfort-allume.svg);opacity: 1;}
    85% {background-image: url(../img/logo/logo-rockfort-allteint.svg);opacity: 1;}
    87.5% {background-image: url(../img/logo/logo-rockfort-allume.svg);opacity: 1;}
    90% {background-image: url(../img/logo/logo-rockfort-allteint.svg);opacity: 1;}
    92.5% {background-image: url(../img/logo/logo-rockfort-allume.svg);opacity: 1;}
    95% {background-image: url(../img/logo/logo-rockfort-allteint.svg);opacity: 1;}
    97.5% {background-image: url(../img/logo/logo-rockfort-allume.svg);opacity: 1;}
    100% {opacity: 1;}
}

/* ============================================================
  CONTENT HOME
============================================================ */

#contentHome {
	width: 600px;
	margin-right: auto;
	margin-left: auto;
    text-align:center;
}

#table {
    height: 100%;
    width: 100%;
    display: table;
    vertical-align: middle;
}

#table-cell{
    text-align: center;
    position: relative;
    vertical-align: middle;
    display: table-cell;
}

#timeline{
	text-align: center;
	margin-bottom: 25px;
	margin-top: 25px;
}

#submit{ 	
    border-radius: 50px;
    border: 2px solid #fff;
    overflow: hidden;
    text-transform: uppercase;
    width: 210px;
    padding: 10px 0;
    background-color: transparent;
    margin-left: auto;
    margin-right: auto;
    display: block;
    font-size: 16px;
    font-weight: bold;
    margin-top: 50px;
    outline: none;
    cursor: pointer;
}

#submit a {
    text-decoration: none;
    color: #fff;
}

#submit:hover{
	color: #e2e6fd;
	border-color: #e2e6fd;
	box-shadow: 0px 0px 20px #516bf0, 0px 0px 20px #516bf0 inset;
	text-shadow: rgb(81, 107, 240) 0px 0px 20px, rgb(81, 107, 240) 0px 0px 20px;
}

#credit{    
    border-radius: 50px;
    border: 2px solid #fff;
    color: #fff;
    overflow: hidden;
    text-transform: uppercase;
    width: 110px;
    padding: 10px 0;
    background-color: transparent;
    margin-left: auto;
    margin-right: auto;
    display: block;
    font-size: 12px;
    font-weight: bold;
    outline: none;
    cursor: pointer;
    position: fixed;
    top: 50px;
    right: 50px;
}

#credit:hover{
    color: #e2e6fd;
    border-color: #e2e6fd;
    box-shadow: 0px 0px 20px #516bf0, 0px 0px 20px #516bf0 inset;
    text-shadow: rgb(81, 107, 240) 0px 0px 20px, rgb(81, 107, 240) 0px 0px 20px;
}


#overlay {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    /*background: -webkit-radial-gradient(center, ellipse cover, rgba(0,0,0,0) 0%,rgba(0,0,0,0.5) 50%,rgba(0,0,0,1) 100%);*/
    background: -moz-radial-gradient(center, ellipse cover, rgba(0,0,0,0) 0%, rgba(0,0,0,0.43) 33%, rgba(0,0,0,1) 76%, rgba(0,0,0,1) 100%); /* FF3.6-15 */
	background: -webkit-radial-gradient(center, ellipse cover, rgba(0,0,0,0) 0%,rgba(0,0,0,0.43) 33%,rgba(0,0,0,1) 76%,rgba(0,0,0,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: radial-gradient(ellipse at center, rgba(0,0,0,0) 0%,rgba(0,0,0,0.43) 33%,rgba(0,0,0,1) 76%,rgba(0,0,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

/* ============================================================
  BOUTON INFO
============================================================ */

#info {
    vertical-align: top;
    margin-top: 20px;
    border-radius: 40px;
    border: 2px solid #a2a2a2;
    color: #a2a2a2;
    overflow: hidden;
    width: 36px;
    padding: 6px 0;
    background-color: transparent;
    font-size: 18px;
    font-weight: bold;
}

#info:hover{
    color: #e2e6fd;
    border-color: #e2e6fd;
    box-shadow: 0px 0px 10px #516bf0, 0px 0px 10px #516bf0 inset;
    text-shadow: rgb(81, 107, 240) 0px 0px 20px, rgb(81, 107, 240) 0px 0px 20px, rgb(81, 107, 240) 0px 0px 20px;
}


/* ============================================================
  END - HOME
============================================================ */


/* ============================================================
  START - CONTENT LAB
============================================================ */

body#leLab {
    background-color:#141722;
}


#logo {
    display: inline-block;
    margin-right: 15px;
    height:85px;
}

#contentLab {
    width: 1366px;
    margin-right: auto;
    margin-left: auto;
    text-align:center;
    padding-top:40px;
}

#lab {
    width: 1086px;
    margin-right: 280px;
    text-align:center;
}


/* ============================================================
  EQUALIZER
============================================================ */

#equalizer {
    margin-left:50px;
    width: 1000px;
    height: 225px;
    margin-top: 10px;
    position: relative;
   
}
#viz_equalizer{
    background-color:white;
    width: 600px;
    height: 225px;
    position: absolute;
}

#equalizer h3 {
    position: absolute;
    left: 620px;
    margin: 0;
}

/* ============================================================
  PARAMETRES
============================================================ */

#parametre {
    background-color:white;
    width: 360px;
    height: 190px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
    position: absolute;
    bottom: 0px;
    right: 0px;

}


/* ============================================================
  MOTS
============================================================ */

#mots{
    background-color:white;
    width: 980px;
    height: 106px;
    margin-top: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    margin-left:50px;
}

/* ============================================================
  SUGGESTION
============================================================ */

#suggestion {
    margin-left:50px;
    width: 980px;
    height:140px;
}

#suggestion img {
    margin-left:-200px;
}

#suggestion h3 {
    margin-left: 5px;
    margin-top: -10px;
    margin-bottom: -12px;
    text-align: left;
}

#suggestion h4 {
  font-size: 16px;
  text-align: left;
  color: white;
  font-weight: 500;
  padding-left:130px;
  line-height: 1;
    margin: 0;
}

#suggestion h4.artiste {
  margin-top:-95px;
}

#suggestion h5 {
  font-size: 14px;
  text-align: left;
  color: white;
  font-weight: 100;
  padding-left:130px;
  margin-top:-5px;
}


#sug1,  #sugg2, #sugg3 {
    background-color: #262b40;
    width:310px;
    height: 110px;
    margin-top: 20px;
    }

#sug2 {
    background-color: #262b40;
    width:310px;
    height: 110px;
    margin-left: 335px;
    margin-top: -110px;
    display: block;
}

#sug3{
    background-color: #262b40;
    width:310px;
    height: 110px;
    margin-left: 670px;
    margin-top: -110px;
    display: block;
}

/* ============================================================
  TOGGLE BUTTON
============================================================ */
#ToggleBt{
    bottom :40px;
    right: 40px;
    margin-left:100px;
}

#wrapper {
  min-width: 600px;
}

.settings {
  display: table;
  width: 100%;
}
.settings .row {
  display: table-row;
}

.settings .switch {
  display: table-cell;
  vertical-align: middle;
  padding: 10px;
}
.onoffswitch {
    position: relative; width: 90px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #a5b1eb; border-radius: 27px;
    box-shadow: 0px 0px 20px #516bf0, 0px 0px 20px #516bf0 inset;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 42px; padding: 0; line-height: 40px;
    font-size: 14px; color: white; font-weight: 100;
    text-shadow: #f4f6fd 0px 0px 20px, #f4f6fd 0px 0px 20px, #f4f6fd 0px 0px 20px;
    box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "LAB";
    padding-right: 15px;
    background-color: #1c2030; color: #FFFFFF;
    text-align: right;
}
.onoffswitch-inner:after {
    content: "MAP";
    padding-left: 11px;
    background-color: #1c2030; color: #FFFFFF;
    text-align: left;
}
.onoffswitch-switch {
    display: block; width: 34px; height: 34px; margin: 6px;
    background: #6883ff;
    position: absolute; top: 0; bottom: 0;
    right: 0px;
    border-radius: 20px;
    transition: all 0.3s ease-in 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right:45px; 
}


/* ============================================================
  PLAYLIST
============================================================ */

#icoCasque {
    display: block;
    margin: -49px 0 0 150px;
}


#playlist {
    background-color: #262b40;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 280px;
}

#infoBulle{
    position: absolute;
    top: 118px;
    left: -460px;
    width: 400px;
    background-color: #262b40;
    padding: 20px;
}

#infoBulle p{
    text-align: left;
    color: #b6bacc;
    margin: 0;
}

.subMenu p {
    font-size: 13px;
    line-height: 13px;
    text-align: left;
    color: #b6bacc;
}

.sm2-element .subMenu li {
    overflow: hidden;
    /*background: #1C2030;*/
    padding: 14px;
}

.selected .fleche_bottom{
    top: 27px;
}
/* ============================================================
  END CONTENT LAB
============================================================ */


/* ============================================================
  OUPS
============================================================ */

h1.oupsTxt {
    font-size:15px;
    max-width:450px;
    padding: 0px 30px;
}

#media {
    display: none;
}

@media only screen and (max-width : 700px) {

#media {
    display: block;
    color: white;
}

}