*{
	margin: 0;
}

body {
	color:white;
	background-image:url("../img/background/bg_accueil.jpg");
	background-position:center center;
    background-color: #000;
	font-family: 'Open Sans', sans-serif;
    text-align: center;
}

html, body {
    width: 100%;
    height: 100%;
}


@-webkit-keyframes logoAnimation {
    
    0% {background-image: url(../img/logo/../img/logo/logo-rockfort-eteint.svg);opacity: 1;}
    2.5% {background-image: url(../img/logo/logo-rockfort-eteint.svg);opacity: 1;}
    5% {background-image: url(../img/logo/logo-rockfort-eteint.svg);opacity: 1;}
    7.5% {background-image: url(../img/logo/logo-rockfort-eteint.svg);opacity: 1;}
    10% {background-image: url(../img/logo/logo-rockfort-eteint.svg);opacity: 1;}
    12.5% {background-image: url(../img/logo/logo-rockfort-eteint.svg);opacity: 1;}
    15% {background-image: url(../img/logo/logo-rockfort-eteint.svg);opacity: 1;}
    17.5% {background-image: url(../img/logo/logo-rockfort-eteint.svg);opacity: 1;}
    20% {background-image: url(../img/logo/logo-rockfort-eteint.svg);opacity: 1;}
    22.5% {background-image: url(../img/logo/logo-rockfort-eteint.svg);opacity: 1;}
    25% {background-image: url(../img/logo/logo-rockfort-allteint.svg);opacity: 1;}
    27.5% {background-image: url(../img/logo/logo-rockfort-eteint.svg);opacity: 1;}
    30% {background-image: url(../img/logo/logo-rockfort-allteint.svg);opacity: 1;}
    32.5% {background-image: url(../img/logo/logo-rockfort-eteint.svg);opacity: 1;}
    35% {background-image: url(../img/logo/logo-rockfort-allteint.svg);opacity: 1;}
    40% {background-image: url(../img/logo/logo-rockfort-eteint.svg);opacity: 1;}
    42.5% {background-image: url(../img/logo/logo-rockfort-allteint.svg);opacity: 1;}
    45% {background-image: url(../img/logo/logo-rockfort-allteint.svg);opacity: 1;}
    47.5% {background-image: url(../img/logo/logo-rockfort-allteint.svg);opacity: 1;}
    50% {background-image: url(../img/logo/logo-rockfort-allteint.svg);opacity: 1;}
    52.5% {background-image: url(../img/logo/logo-rockfort-allteint.svg);opacity: 1;}
    55% {background-image: url(../img/logo/logo-rockfort-allume.svg);opacity: 1;}
    57.5% {background-image: url(../img/logo/logo-rockfort-allume.svg);opacity: 1;}
    65% {background-image: url(../img/logo/logo-rockfort-allume.svg);opacity: 1;}
    67.5% {background-image: url(../img/logo/logo-rockfort-allteint.svg);opacity: 1;}
    70% {background-image: url(../img/logo/logo-rockfort-allteint.svg);opacity: 1;}
    72.5% {background-image: url(../img/logo/logo-rockfort-allteint.svg);opacity: 1;} 
    75% {background-image: url(../img/logo/logo-rockfort-allteint.svg);opacity: 1;}
    77.5% {background-image: url(../img/logo/logo-rockfort-allteint.svg);opacity: 1;}
    80% {background-image: url(../img/logo/logo-rockfort-allume.svg);opacity: 1;}
    82.5% {background-image: url(../img/logo/logo-rockfort-allume.svg);opacity: 1;}
    85% {background-image: url(../img/logo/logo-rockfort-allteint.svg);opacity: 1;}
    87.5% {background-image: url(../img/logo/logo-rockfort-allume.svg);opacity: 1;}
    90% {background-image: url(../img/logo/logo-rockfort-allteint.svg);opacity: 1;}
    92.5% {background-image: url(../img/logo/logo-rockfort-allume.svg);opacity: 1;}
    95% {background-image: url(../img/logo/logo-rockfort-allteint.svg);opacity: 1;}
    97.5% {background-image: url(../img/logo/logo-rockfort-allume.svg);opacity: 1;}
    100% {opacity: 1;}
}

.logo-rockfort {
      width: 232px;
      height: 232px;
      margin: 0px auto;
      background-size: 100% 100%;
      -webkit-animation: logoAnimation 4s linear;
      -moz-animation: logoAnimation 4s linear;
      -o-animation: logoAnimation 4s linear;
      background-image: url(../img/logo/logo-rockfort-allume.svg);
      
}

@-moz-keyframes logoAnimation {
    0% {background-image: url(../img/logo/logo-rockfort-eteint.svg);opacity: 1;}
    2.5% {background-image: url(../img/logo/logo-rockfort-eteint.svg);opacity: 1;}
    5% {background-image: url(../img/logo/logo-rockfort-eteint.svg);opacity: 1;}
    7.5% {background-image: url(../img/logo/logo-rockfort-eteint.svg);opacity: 1;}
    10% {background-image: url(../img/logo/logo-rockfort-eteint.svg);opacity: 1;}
    12.5% {background-image: url(../img/logo/logo-rockfort-eteint.svg);opacity: 1;}
    15% {background-image: url(../img/logo/logo-rockfort-eteint.svg);opacity: 1;}
    17.5% {background-image: url(../img/logo/logo-rockfort-eteint.svg);opacity: 1;}
    20% {background-image: url(../img/logo/logo-rockfort-eteint.svg);opacity: 1;}
    22.5% {background-image: url(../img/logo/logo-rockfort-eteint.svg);opacity: 1;}
    25% {background-image: url(../img/logo/logo-rockfort-allteint.svg);opacity: 1;}
    27.5% {background-image: url(../img/logo/logo-rockfort-eteint.svg);opacity: 1;}
    30% {background-image: url(../img/logo/logo-rockfort-allteint.svg);opacity: 1;}
    32.5% {background-image: url(../img/logo/logo-rockfort-eteint.svg);opacity: 1;}
    35% {background-image: url(../img/logo/logo-rockfort-allteint.svg);opacity: 1;}
    40% {background-image: url(../img/logo/logo-rockfort-eteint.svg);opacity: 1;}
    42.5% {background-image: url(../img/logo/logo-rockfort-allteint.svg);opacity: 1;}
    45% {background-image: url(../img/logo/logo-rockfort-allteint.svg);opacity: 1;}
    47.5% {background-image: url(../img/logo/logo-rockfort-allteint.svg);opacity: 1;}
    50% {background-image: url(../img/logo/logo-rockfort-allteint.svg);opacity: 1;}
    52.5% {background-image: url(../img/logo/logo-rockfort-allteint.svg);opacity: 1;}
    55% {background-image: url(../img/logo/logo-rockfort-allume.svg);opacity: 1;}
    57.5% {background-image: url(../img/logo/logo-rockfort-allume.svg);opacity: 1;}
    65% {background-image: url(../img/logo/logo-rockfort-allume.svg);opacity: 1;}
    67.5% {background-image: url(../img/logo/logo-rockfort-allteint.svg);opacity: 1;}
    70% {background-image: url(../img/logo/logo-rockfort-allteint.svg);opacity: 1;}
    72.5% {background-image: url(../img/logo/logo-rockfort-allteint.svg);opacity: 1;} 
    75% {background-image: url(../img/logo/logo-rockfort-allteint.svg);opacity: 1;}
    77.5% {background-image: url(../img/logo/logo-rockfort-allteint.svg);opacity: 1;}
    80% {background-image: url(../img/logo/logo-rockfort-allume.svg);opacity: 1;}
    82.5% {background-image: url(../img/logo/logo-rockfort-allume.svg);opacity: 1;}
    85% {background-image: url(../img/logo/logo-rockfort-allteint.svg);opacity: 1;}
    87.5% {background-image: url(../img/logo/logo-rockfort-allume.svg);opacity: 1;}
    90% {background-image: url(../img/logo/logo-rockfort-allteint.svg);opacity: 1;}
    92.5% {background-image: url(../img/logo/logo-rockfort-allume.svg);opacity: 1;}
    95% {background-image: url(../img/logo/logo-rockfort-allteint.svg);opacity: 1;}
    97.5% {background-image: url(../img/logo/logo-rockfort-allume.svg);opacity: 1;}
    100% {opacity: 1;}
}

@-o-keyframes logoAnimation {
    0% {background-image: url(../img/logo/logo-rockfort-eteint.svg);opacity: 1;}
    2.5% {background-image: url(../img/logo/logo-rockfort-eteint.svg);opacity: 1;}
    5% {background-image: url(../img/logo/logo-rockfort-eteint.svg);opacity: 1;}
    7.5% {background-image: url(../img/logo/logo-rockfort-eteint.svg);opacity: 1;}
    10% {background-image: url(../img/logo/logo-rockfort-eteint.svg);opacity: 1;}
    12.5% {background-image: url(../img/logo/logo-rockfort-eteint.svg);opacity: 1;}
    15% {background-image: url(../img/logo/logo-rockfort-eteint.svg);opacity: 1;}
    17.5% {background-image: url(../img/logo/logo-rockfort-eteint.svg);opacity: 1;}
    20% {background-image: url(../img/logo/logo-rockfort-eteint.svg);opacity: 1;}
    22.5% {background-image: url(../img/logo/logo-rockfort-eteint.svg);opacity: 1;}
    25% {background-image: url(../img/logo/logo-rockfort-allteint.svg);opacity: 1;}
    27.5% {background-image: url(../img/logo/logo-rockfort-eteint.svg);opacity: 1;}
    30% {background-image: url(../img/logo/logo-rockfort-allteint.svg);opacity: 1;}
    32.5% {background-image: url(../img/logo/logo-rockfort-eteint.svg);opacity: 1;}
    35% {background-image: url(../img/logo/logo-rockfort-allteint.svg);opacity: 1;}
    40% {background-image: url(../img/logo/logo-rockfort-eteint.svg);opacity: 1;}
    42.5% {background-image: url(../img/logo/logo-rockfort-allteint.svg);opacity: 1;}
    45% {background-image: url(../img/logo/logo-rockfort-allteint.svg);opacity: 1;}
    47.5% {background-image: url(../img/logo/logo-rockfort-allteint.svg);opacity: 1;}
    50% {background-image: url(../img/logo/logo-rockfort-allteint.svg);opacity: 1;}
    52.5% {background-image: url(../img/logo/logo-rockfort-allteint.svg);opacity: 1;}
    55% {background-image: url(../img/logo/logo-rockfort-allume.svg);opacity: 1;}
    57.5% {background-image: url(../img/logo/logo-rockfort-allume.svg);opacity: 1;}
    65% {background-image: url(../img/logo/logo-rockfort-allume.svg);opacity: 1;}
    67.5% {background-image: url(../img/logo/logo-rockfort-allteint.svg);opacity: 1;}
    70% {background-image: url(../img/logo/logo-rockfort-allteint.svg);opacity: 1;}
    72.5% {background-image: url(../img/logo/logo-rockfort-allteint.svg);opacity: 1;} 
    75% {background-image: url(../img/logo/logo-rockfort-allteint.svg);opacity: 1;}
    77.5% {background-image: url(../img/logo/logo-rockfort-allteint.svg);opacity: 1;}
    80% {background-image: url(../img/logo/logo-rockfort-allume.svg);opacity: 1;}
    82.5% {background-image: url(../img/logo/logo-rockfort-allume.svg);opacity: 1;}
    85% {background-image: url(../img/logo/logo-rockfort-allteint.svg);opacity: 1;}
    87.5% {background-image: url(../img/logo/logo-rockfort-allume.svg);opacity: 1;}
    90% {background-image: url(../img/logo/logo-rockfort-allteint.svg);opacity: 1;}
    92.5% {background-image: url(../img/logo/logo-rockfort-allume.svg);opacity: 1;}
    95% {background-image: url(../img/logo/logo-rockfort-allteint.svg);opacity: 1;}
    97.5% {background-image: url(../img/logo/logo-rockfort-allume.svg);opacity: 1;}
    100% {opacity: 1;}
}

p { 
 	text-align:center; /* centrage horizontal d'un élément en-ligne */ 
 	font-size: 15px;
    margin-top: 10px;
    margin-bottom: 50px;
}

#content {
	width: 600px;
	margin-right: auto;
	margin-left: auto;
    text-align:center;
}

#table {
    height: 100%;
    width: 100%;
    display: table;
    vertical-align: middle;
}

#table-cell{
    text-align: center;
    position: relative;
    vertical-align: middle;
    display: table-cell;
}

#timeline{
	text-align: center;
	margin-bottom: 25px;
	margin-top: 25px;
}

#submit{ 	
    border-radius: 50px;
    border: 2px solid #fff;
    color: #fff;
    overflow: hidden;
    text-transform: uppercase;
    width: 210px;
    padding: 10px 0;
    background-color: transparent;
    margin-left: auto;
    margin-right: auto;
    display: block;
    font-size: 16px;
    font-weight: bold;
    margin-top: 50px;
    outline: none;
    cursor: pointer;
}

#submit:hover{
	color: #e2e6fd;
	border-color: #e2e6fd;
	box-shadow: 0px 0px 20px #516bf0, 0px 0px 20px #516bf0 inset;
	text-shadow: rgb(81, 107, 240) 0px 0px 20px, rgb(81, 107, 240) 0px 0px 20px;
}

#info {
	position: fixed;
	top: 40px;
	right: 40px;
	border-radius: 40px;
    border: 2px solid #fff;
    color: #fff;
    overflow: hidden;
    width: 40px;
    padding: 5px 0;
    background-color: transparent;
    font-size: 22px;
    font-weight: bold;
}

#info:hover{
	color: #e2e6fd;
	border-color: #e2e6fd;
	box-shadow: 0px 0px 10px #516bf0, 0px 0px 10px #516bf0 inset;
	text-shadow: rgb(81, 107, 240) 0px 0px 20px, rgb(81, 107, 240) 0px 0px 20px, rgb(81, 107, 240) 0px 0px 20px;
}

#overlay {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    /*background: -webkit-radial-gradient(center, ellipse cover, rgba(0,0,0,0) 0%,rgba(0,0,0,0.5) 50%,rgba(0,0,0,1) 100%);*/
    background: -moz-radial-gradient(center, ellipse cover, rgba(0,0,0,0) 0%, rgba(0,0,0,0.43) 33%, rgba(0,0,0,1) 76%, rgba(0,0,0,1) 100%); /* FF3.6-15 */
	background: -webkit-radial-gradient(center, ellipse cover, rgba(0,0,0,0) 0%,rgba(0,0,0,0.43) 33%,rgba(0,0,0,1) 76%,rgba(0,0,0,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: radial-gradient(ellipse at center, rgba(0,0,0,0) 0%,rgba(0,0,0,0.43) 33%,rgba(0,0,0,1) 76%,rgba(0,0,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}