* {
    margin: 0;
}

body {
	background-color:#141722;
	background-position:center center;
	font-family: 'Open Sans', sans-serif;
    text-align: center;
}

html, body {
    width: 100%;
    height: 100%;
}

#logo {
    display: inline-block;
    margin-right: 15px;
    height:85px;
}

#content {
	width: 1366px;
	margin-right: auto;
	margin-left: auto;
    text-align:center;
    padding-top:40px;
}

#lab {
    width: 1086px;
    margin-right: 280px;
    text-align:center;

}

#equalizer, #suggestion, #mots {
  margin-left:50px;
}

 /*  #table {
    height: 100%;
    width: 100%;
    display: table;
    vertical-align: middle;
}

#table-cell{
    text-align: center;
    position: relative;
    vertical-align: middle;
    display: table-cell;
} */

h1 {
    vertical-align: top;
    margin-top: 15px;
    display: inline-block;
    font-size: 39px;
    font-weight: 100;
    color: #bfc4dc;
    text-transform: uppercase;
    text-shadow: rgb(81, 107, 240) 0px 0px 20px;
    letter-spacing: 10px;
}

h2 {
    font-size: 26px;
    font-weight: 100;
    padding:50px 0 0 30px;
    color: #b6bacc;
    text-transform: uppercase;
    text-align: left;
}

h3{
    font-size: 18px;
    color: white;
}

#equalizer h3 {
    position: absolute;
    left: 620px;
}

#suggestion h3 {
    margin-left: 5px;
    margin-top: -10px;
}


hr {
    vertical-align: top;
    display: inline-block;
    box-shadow: 0px 0px 10px #516bf0, 0px 0px 10px #516bf0;
    width:600px;
    margin:54px 20px 0 4px;
}

p { 
    text-align:center; /* centrage horizontal d'un élément en-ligne */ 
    font-size: 15px;
    margin-top: 10px;
    margin-bottom: 50px;
}


#info {
    vertical-align: top;
    margin-top: 20px;
	border-radius: 40px;
    border: 2px solid #a2a2a2;
    color: #a2a2a2;
    overflow: hidden;
    width: 36px;
    padding: 6px 0;
    background-color: transparent;
    font-size: 18px;
    font-weight: bold;
}

#info:hover{
	color: #e2e6fd;
	border-color: #e2e6fd;
	box-shadow: 0px 0px 10px #516bf0, 0px 0px 10px #516bf0 inset;
	text-shadow: rgb(81, 107, 240) 0px 0px 20px, rgb(81, 107, 240) 0px 0px 20px, rgb(81, 107, 240) 0px 0px 20px;
}

#playlist {
    background-color: #262b40;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 280px;
}

#icoCasque {
    display: block;
    margin: -28px 0 0 150px;
}

#player{
    width: 280px;
    height:512px;
}

#equalizer {
    
    width: 1000px;
    height: 225px;
    margin-top: 10px;
    position: relative;
   
}
#viz_equalizer{
    background-color:white;
    width: 600px;
    height: 225px;
    position: absolute;
}

#parametre {
    background-color:white;
    width: 360px;
    height: 190px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
    position: absolute;
    bottom: 0px;
    right: 0px;

}

#mots{
    background-color:white;
    width: 980px;
    height: 106px;
    margin-top: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}

/* ============================================================
  SUGGESTION
============================================================ */

#suggestion {
    width: 980px;
    height:140px;
}

#suggestion img {
    float:left;
}

#suggestion h4 {
  font-size: 16px;
  text-align: left;
  color: white;
  font-weight: 500;
  padding-left:130px;
  line-height: 1;
}

#suggestion h4.artiste {
  padding-top:25px;
}

#suggestion h5 {
  font-size: 14px;
  text-align: left;
  color: white;
  font-weight: 100;
  padding-left:130px;
  margin-top:-5px;
}


#sug1,  #sugg2, #sugg3 {
    background-color: #262b40;
    width:310px;
    height: 110px;
    float: left;
    margin-top: -25px;
    }

#sug2 {
    background-color: #262b40;
    width:310px;
    height: 110px;
    float:left;
    margin-left: 25px;
    margin-top: -25px;
}

#sug3{
    background-color: #262b40;
    width:310px;
    height: 110px;
    float:right;
    margin-left: 20px;
    margin-top: -25px;
}
/* ============================================================
  COMMON Toggle Button
============================================================ */
#ToggleBt{
    bottom :40px;
    right: 40px;
    margin-left:100px;
}

#wrapper {
  min-width: 600px;
}

.settings {
  display: table;
  width: 100%;
}
.settings .row {
  display: table-row;
}

.settings .switch {
  display: table-cell;
  vertical-align: middle;
  padding: 10px;
}


/* ============================================================
  COMMON
============================================================ */
/*.cmn-toggle {
  position: absolute;
  margin-left: -9999px;
  visibility: hidden;
}
.cmn-toggle + label {
  display: block;
  position: relative;
  cursor: pointer;
  outline: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}*/
/* ============================================================
  SWITCH 2 - ROUND FLAT
============================================================ */
/*input.cmn-toggle-round-flat + label {
  width: 80px;
  height: 40px;
  background-color: #98a8f1;
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  -ms-border-radius: 60px;
  -o-border-radius: 60px;
  border-radius: 60px;
  -webkit-transition: background 0.4s;
  -moz-transition: background 0.4s;
  -o-transition: background 0.4s;
  transition: background 0.4s;
  box-shadow: 0px 0px 10px rgb(81, 107, 240)
}

input.cmn-toggle-round-flat + label:before, input.cmn-toggle-round-flat + label:after {
  display: block;
  position: absolute;
  content: "";
}
input.cmn-toggle-round-flat + label:before {
  top: 2px;
  left: 2px;
  bottom: 2px;
  right: 2px;
  background-color: #141722;
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  -ms-border-radius: 60px;
  -o-border-radius: 60px;
  border-radius: 60px;
  -webkit-transition: background 0.4s;
  -moz-transition: background 0.4s;
  -o-transition: background 0.4s;
  transition: background 0.4s;
}
input.cmn-toggle-round-flat + label:after {
  top: 4px;
  left: 4px;
  bottom: 4px;
  width: 32px;
  background-color: #6883ff;
  -webkit-border-radius: 52px;
  -moz-border-radius: 52px;
  -ms-border-radius: 52px;
  -o-border-radius: 52px;
  border-radius: 52px;
  -webkit-transition: margin 0.4s, background 0.4s;
  -moz-transition: margin 0.4s, background 0.4s;
  -o-transition: margin 0.4s, background 0.4s;
  transition: margin 0.4s, background 0.4s;
}
input.cmn-toggle-round-flat:checked + label {
  background-color: #8ce196;
}
input.cmn-toggle-round-flat:checked + label:after {
  margin-left: 40px;
  background-color: #8ce196;
}*/


.onoffswitch {
    position: relative; width: 90px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
    margin-left: auto;
    margin-right: auto;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #a5b1eb; border-radius: 27px;
    box-shadow: 0px 0px 20px #516bf0, 0px 0px 20px #516bf0 inset;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 42px; padding: 0; line-height: 40px;
    font-size: 14px; color: white; font-weight: 100;
    text-shadow: #f4f6fd 0px 0px 20px, #f4f6fd 0px 0px 20px, #f4f6fd 0px 0px 20px;
    box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "LAB";
    padding-right: 15px;
    background-color: #1c2030; color: #FFFFFF;
    text-align: right;
}
.onoffswitch-inner:after {
    content: "MAP";
    padding-left: 11px;
    background-color: #1c2030; color: #FFFFFF;
    text-align: left;
}
.onoffswitch-switch {
    display: block; width: 34px; height: 34px; margin: 6px;
    background: #6883ff;
    position: absolute; top: 0; bottom: 0;
    right: 0px;
    border-radius: 20px;
    transition: all 0.3s ease-in 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right:45px; 
}