html, body {
  margin: 0;
  overflow: hidden;
}

div#mp3_player {
  width: 100vw;
  height: 100vh;
  background: black;
  margin: 0 auto;
}

div#mp3_player > div > audio {
  width: 100vw;
  margin: 0 auto;
  background: rgba(0,0,0,0);  
}

div#mp3_player > canvas {
  width: 100vw;
  height: 100%;
  background: deeppink;
  margin: 0 auto;
}