@import url(http://fonts.googleapis.com/css?family=Montserrat:700);
html, body {
  background-color: #222626;
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
}

.play-button {
  display: block;
  margin: 100px auto;
  height: 0px;
  width: 0px;
  border: 50px solid transparent;
  border-left: 50px solid #0af;
  -webkit-transform: scaleX(1.25);
          transform: scaleX(1.25);
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  cursor: pointer;
}
.play-button:hover {
  border-left: 50px solid #99ddff;
  margin: 90px auto;
}

.hidden {
  -webkit-transform: translateY(-200px) scale(0.5) !important;
          transform: translateY(-200px) scale(0.5) !important;
  -webkit-animation: none !important;
          animation: none !important;
  opacity: 0 !important;
}

.loading-text {
  display: block;
  width: 30%;
  position: absolute;
  left: calc(35%);
  top: -15%;
  text-align: center;
  color: #0af;
  text-shadow: 0px 0px 8px #0af;
  font-size: 55px;
  opacity: 0;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  font-family: "Monteserrat", sans-serif;
  letter-spacing: 4px;
}
.loading .loading-text {
  opacity: 1;
  top: 5%;
}

.bars {
  width: 100%;
  position: absolute;
  bottom: 1%;
  left: 0.25%;
}

.bar {
  width: 5.5%;
  min-height: 5px;
  display: inline-block;
  position: fixed;
  bottom: 5px;
  float: left;
  background-color: white;
  -webkit-transition: height 0.1s linear;
  transition: height 0.1s linear;
}
.bar .fill {
  width: 100%;
  height: 90%;
  min-height: 5px;
  position: absolute;
  z-index: 100;
  -webkit-transition: height 0.1s linear;
  transition: height 0.1s linear;
}
.bar .shadow {
  width: 100%;
  height: 100%;
  min-height: 5px;
  background-color: white;
  position: absolute;
  z-index: 50;
  -webkit-transition: height 0.5s linear;
  transition: height 0.5s linear;
}

.bar:nth-of-type(2) {
  left: 6.25%;
}

.bar:nth-of-type(3) {
  left: 12.5%;
}

.bar:nth-of-type(4) {
  left: 18.75%;
}

.bar:nth-of-type(5) {
  left: 25%;
}

.bar:nth-of-type(6) {
  left: 31.25%;
}

.bar:nth-of-type(7) {
  left: 37.5%;
}

.bar:nth-of-type(8) {
  left: 43.75%;
}

.bar:nth-of-type(9) {
  left: 50%;
}

.bar:nth-of-type(10) {
  left: 56.25%;
}

.bar:nth-of-type(11) {
  left: 62.5%;
}

.bar:nth-of-type(12) {
  left: 68.75%;
}

.bar:nth-of-type(13) {
  left: 75%;
}

.bar:nth-of-type(14) {
  left: 81.25%;
}

.bar:nth-of-type(15) {
  left: 87.5%;
}

.bar:nth-of-type(16) {
  left: 93.75%;
}

.bar:nth-of-type(1) .fill {
  background: -webkit-linear-gradient(210deg, #00a5ff 0%, #00a3ff 100%);
  background: linear-gradient(240deg, #00a5ff 0%, #00a3ff 100%);
  box-shadow: 0px 0px 9px #00a4ff;
}

.bar:nth-of-type(2) .fill {
  background: -webkit-linear-gradient(210deg, #009fff 0%, #009bff 100%);
  background: linear-gradient(240deg, #009fff 0%, #009bff 100%);
  box-shadow: 0px 0px 9px #009dff;
}

.bar:nth-of-type(3) .fill {
  background: -webkit-linear-gradient(210deg, #009aff 0%, #0094ff 100%);
  background: linear-gradient(240deg, #009aff 0%, #0094ff 100%);
  box-shadow: 0px 0px 9px #0097ff;
}

.bar:nth-of-type(4) .fill {
  background: -webkit-linear-gradient(210deg, #0095ff 0%, #008cff 100%);
  background: linear-gradient(240deg, #0095ff 0%, #008cff 100%);
  box-shadow: 0px 0px 9px #0091ff;
}

.bar:nth-of-type(5) .fill {
  background: -webkit-linear-gradient(210deg, #008fff 0%, #0085ff 100%);
  background: linear-gradient(240deg, #008fff 0%, #0085ff 100%);
  box-shadow: 0px 0px 9px #008aff;
}

.bar:nth-of-type(6) .fill {
  background: -webkit-linear-gradient(210deg, #008aff 0%, #007dff 100%);
  background: linear-gradient(240deg, #008aff 0%, #007dff 100%);
  box-shadow: 0px 0px 9px #0084ff;
}

.bar:nth-of-type(7) .fill {
  background: -webkit-linear-gradient(210deg, #0085ff 0%, #0076ff 100%);
  background: linear-gradient(240deg, #0085ff 0%, #0076ff 100%);
  box-shadow: 0px 0px 9px #007dff;
}

.bar:nth-of-type(8) .fill {
  background: -webkit-linear-gradient(210deg, #0080ff 0%, #006fff 100%);
  background: linear-gradient(240deg, #0080ff 0%, #006fff 100%);
  box-shadow: 0px 0px 9px #0077ff;
}

.bar:nth-of-type(9) .fill {
  background: -webkit-linear-gradient(210deg, #007aff 0%, #0067ff 100%);
  background: linear-gradient(240deg, #007aff 0%, #0067ff 100%);
  box-shadow: 0px 0px 9px #0071ff;
}

.bar:nth-of-type(10) .fill {
  background: -webkit-linear-gradient(210deg, #0075ff 0%, #0060ff 100%);
  background: linear-gradient(240deg, #0075ff 0%, #0060ff 100%);
  box-shadow: 0px 0px 9px #006aff;
}

.bar:nth-of-type(11) .fill {
  background: -webkit-linear-gradient(210deg, #0070ff 0%, #0058ff 100%);
  background: linear-gradient(240deg, #0070ff 0%, #0058ff 100%);
  box-shadow: 0px 0px 9px #0064ff;
}

.bar:nth-of-type(12) .fill {
  background: -webkit-linear-gradient(210deg, #006aff 0%, #0051ff 100%);
  background: linear-gradient(240deg, #006aff 0%, #0051ff 100%);
  box-shadow: 0px 0px 9px #005eff;
}

.bar:nth-of-type(13) .fill {
  background: -webkit-linear-gradient(210deg, #0065ff 0%, #0049ff 100%);
  background: linear-gradient(240deg, #0065ff 0%, #0049ff 100%);
  box-shadow: 0px 0px 9px #0057ff;
}

.bar:nth-of-type(14) .fill {
  background: -webkit-linear-gradient(210deg, #0060ff 0%, #0042ff 100%);
  background: linear-gradient(240deg, #0060ff 0%, #0042ff 100%);
  box-shadow: 0px 0px 9px #0051ff;
}

.bar:nth-of-type(15) .fill {
  background: -webkit-linear-gradient(210deg, #005aff 0%, #003aff 100%);
  background: linear-gradient(240deg, #005aff 0%, #003aff 100%);
  box-shadow: 0px 0px 9px #004aff;
}

.bar:nth-of-type(16) .fill {
  background: -webkit-linear-gradient(210deg, #0055ff 0%, #0033ff 100%);
  background: linear-gradient(240deg, #0055ff 0%, #0033ff 100%);
  box-shadow: 0px 0px 9px #0044ff;
}

a {
  font-family: "Montserrat", sans-serif;
  color: #0af !important;
  text-decoration: none !important;
  position: absolute;
  top: 1%;
  right: 1%;
  font-size: 12px;
}
